.env
.env.*
!.env.example
.venv/
**/.venv/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
**/.pytest_cache/
.mypy_cache/
**/.mypy_cache/
.idea/
**/.idea/
.vscode/
**/.vscode/
knowledge/processor/import_processor/temp_dir/
.git-knowledge-backup/
